<style>
    @font-face
    {
        font-family: penna;
        src: url("../static/font/penna.otf") format("opentype");
    }
    .db1
    {
        padding-top:5%;
        align:center;
    }
    .db2
    {
        border-radius:50px;
        align:center;
        padding-top:2%;
        width:60%;    
    }
    .p1
    {
        margin:0%;
        padding:0%;
    }
    .db3
    {
        padding-left:22%;
        padding-right:21%;
    }
    .b1
    {

    }
    .b2
    {

    }
    .b3
    {

    }
    .bb
    {
        width:90%;
        align:center;
        border-radius:25px;

    }
    .a1
    {
        border-radius:40px;
    }
    .hd1
    {
        font-size:6vw;
        font-family:penna;
        font-weight:bold;
    }
    .bg1
    {
        background-image: url("../static/img/b1.jpg");
        background-color: #cccccc; 
        height:100%;
        background-position: center;
        background-size: cover;
    }

    .container1 input:checked~.checkmark 
    {
    text-decoration:line-through;
    }
    .db5
    {
        background-color:rgba(198, 245, 247, 0.4);
        border-radius:10px;
    }
    .bg2
    {
        background-color:rgba(224, 240, 168, 0.4);
        border-radius:10px;
        width:auto;
        padding-top:10px;
        padding-bottom:10px;
    }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }

</style>