{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
    .db1
    {
        padding-top:5%;
        align:center;
    }
    .db2
    {
        border-radius:50px;
        align:center;
        padding-top:2%;
        width:60%;    
    }
    .p1
    {
        margin:0%;
        padding:0%;
    }
    .db3
    {
        padding-left:22%;
        padding-right:21%;
    }
    .b1
    {

    }
    .b2
    {

    }
    .b3
    {

    }
    .bb
    {
        width:90%;
        align:center;
        border-radius:25px;

    }
    .a1
    {
        border-radius:40px;
    }
    .hd1
    {
        font-size:5.7vw;
        font-family: 'Spectral', serif;
        font-weight:bold;
    }
    .bg1
    {
        background-image: url("https://images.unsplash.com/photo-1597827452371-564d1ddb1bb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHRvJTIwZG8lMjBsaXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
        background-color: #cccccc; 
        height:100%;
        background-position: center;
        background-size: cover;
    }

    .container1 input:checked~.checkmark 
    {
    text-decoration:line-through;
    }
    .db5
    {
        background-color:rgba(198, 245, 247, 0.4);
        border-radius:10px;
    }
    .bg2
    {
        background-color:rgba(224, 240, 168, 0.4);
        border-radius:10px;
        width:auto;
        padding-top:10px;
        padding-bottom:10px;
    }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }

</style>