{% include "bootstrap5_cdn.html" %}
{% include "css.html" %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<div class="list-group" style="box-shadow: 5px 5px; overflow-y: auto; max-height: 17vw;">
  <form id = "frm" method="post" action="/" onSubmit="var div = document.getElementById('labelhide');if({{en}}!=0){div.style.display = 'none';}else{div.style.display = 'block';}">
    {% csrf_token %}
    <input type="hidden" name="form_id" value="list">
    {% for i in val%}
    <label class="list-group-item container1">
      <input id = "{{i.field_no}}" class="form-check-input me-1" type="checkbox" value="{{i.field_no}}" name="{{i.field_no}}" {% if i.check_task %}checked{% endif %}>
        <span class="checkmark" data-popper-placement="right" data-toggle="tooltip" title="{{i.desc}}">
          {{i.task}}
        </span>
    </label>
    <script>
      
    $(document).ready(function() {
      var name_id = 
      $('input[type=checkbox][name='+{{i.field_no}}+']').change(function() {
          if (this.checked) {
            document.getElementById('frm').submit();
          }
          else {
            document.getElementById('frm').submit();
          }
      });
    });
    </script>
    {%endfor%}
  </form>
  </div>